* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  display: inline-block;
  vertical-align: middle;
  margin: 1em;
}

.box form > * {
  font-size: 1.4rem;
  display: block;
  padding: 5px;
  margin: 3px;
}

.box form button {
  margin-top: 0.75em;
  float: right;
}

label input {
  margin: 0 .5em;
}

#map {
  min-width: 320px;
  width: 40vw;
  height: 40vh;
}

.resultbox label,
.resultbox textarea {
  display: block;
  width: 100%;
  margin: 5px 0;
  font-size: 0.9em;
  line-height: 1.1;
  transition: background-color 0.3s ease;
}

.in-progress {
  background-color: blue;
}

.resultbox {
  width: calc(99% / 3);
  padding: 5px;
  min-width: 320px;
  display: inline-block;
}

